/* CENTER QUESTION */

.rn-queue__content
  .rn-question-rem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* CENTER MC ANSWERS */
.rn-queue__content
  .spaced-repetition-answer:not(:has(.rn-editor)) {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* MODIFY MC CARDS */
.rn-queue__content
  .spaced-repetition-answer:not(:has(.rn-editor))
  .linear-editor-item {
  display: flex;
  justify-content: flex-start;

  text-align: left;
}

/* STYLE MC CARDS */

/* HIDE MC FEEDBACK */
.rn-queue__content
  .spaced-repetition-answer
  .whitespace-nowrap {
  display: none !important;
}

/* REMOVE INDENTATION FOR PROPER CENTERING WITHOUT TRANSLATE */

.rn-queue__content
 .indented-rem.rn-question-rem.col-span-2 {
   margin-left: 0 !important;
}

/* REMOVE SECOND INDENTATION FOR TEST INDIVIDUAL CELLS CARDS */

.rn-queue__content
 .indented-rem{
  margin-left: 0 !important;
}

/* MAKE BULLET INVISIBLE */
.rn-queue__content .rn-rem-bullet {
  display: none !important;
}

/* REMOVE MC CARD INDENTATION */
.spaced-repetition-answer .ml-\[11px\] {
  margin-left: 0 !important;
  
}

/* MORE MC CARD INDENTS AND LINE */
.spaced-repetition-answer .border-l {
  border-left: none !important;
  padding-left: 0 !important; 
}

/* EVEN MORE MC CARD INDENTS */

.rn-queue__content
  .spaced-repetition-answer
  .extra-card-detail {
      border-top: none !important;
      border-left: none !important;
      margin-left: 0 !important;
}

/*MC EXTRA CARD DETAIL*/
.extra-card-detail__item.relative
  .linear-editor-item.whitespace-pre-wrap
  > span {
  display: block;
  text-align: center;
}


/* _______LIST CARDS_______ */


/* CENTER BLOCK */
.rn-queue__content
  .spaced-repetition-answer:has(.rn-editor) {
  display: flex;
  justify-content: center;
}

/* CONSTRAIN WIDTH */
.rn-queue__content
  .spaced-repetition-answer:has(.rn-editor)
  .rn-editor {
  width: min(300px, 92vw);   /* stable column */
  margin: 0 auto;
}

/* LIST CENTERING */
.rn-queue__content
  .spaced-repetition-answer:has(.rn-editor)
  .rn-editor {
  padding-left: 0px;
  padding-right: 0px;
}

/* Center toggle boxes for lists */
.rn-queue__content 
  .rem-button__container {

  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;

  display: flex !important;
  align-items: center !important;

  height: auto !important;
}

.rn-queue__content 
  .rem-button__container 
  > .w-full.flex.items-center.justify-end {

  margin-top: 0 !important;
}

/* FLOW */
.rn-queue__content
  .spaced-repetition-answer:has(.rn-editor)
  .linear-editor-item {
  display: block;
  text-align: left;
  white-space: normal;
}

/* CENTER REMAINING CARDS ON NUMBERED LIST */
.rn-queue__content .rn-list-card-remaining-items {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 300px; 
  transform: translateX(-1.2vw);
  font-size: calc(var(--plugin-font-size, 1rem) * 0.7);
  opacity: 0.7;
  font-family: var(--plugin-font-family); /*VARIABLE FONT FAMILY*/
  
}

/* CENTER EXTRA CARD DETAIL */

/* CONTAINER */
.rn-queue__content .extra-card-detail {
  display: flex;
  justify-content: center;
}

/* MATCH ALIGNMENT */
.rn-queue__content .extra-card-detail > * {
  width: fit-content;
  max-width: 100%;
  text-align: center;
}

/* CENTER CLOZE + RICH TEXT IN EXTRA CARD DETAIL */
.rn-queue__content .extra-card-detail .RichTextViewer {
  text-align: center;
}

/* CENTER IMAGES / MEDIA */
.rn-queue__content .extra-card-detail img,
.rn-queue__content .extra-card-detail video,
.rn-queue__content .extra-card-detail canvas,
.rn-queue__content .extra-card-detail svg {
  margin-left: auto;
  margin-right: auto;
}


/* _____FONT FLASHCARD QUESTION_______ */

.rn-queue__content
  .rn-question-rem
  .RichTextViewer,
.rn-queue__content
  .rn-question-rem
  .linear-editor-item,
.rn-queue__content
  .rn-question-rem
  .rn-editor__rem__body,
.rn-queue__content
  .rn-question-rem
  .rn-editor__rem__body__text {
  font-size:  var(--plugin-font-size); /* Variable size */
  line-height: 1.0;
  font-family: var(--plugin-font-family); /*Variable font*/
}

/* _______FONT FLASHCARD ANSWER_____ */

.rn-queue__content
  .spaced-repetition-answer
  .RichTextViewer,
.rn-queue__content
  .spaced-repetition-answer
  .linear-editor-item,
.rn-queue__content
  .spaced-repetition-answer
  .rn-editor__rem__body,
.rn-queue__content
  .spaced-repetition-answer
  .rn-editor__rem__body__text {
  font-size:  var(--plugin-font-size); /* Variable size */
  line-height: 1.0;
  font-family: var(--plugin-font-family); /* Variable font*/
}

/* CLOZE INHERIT TEXT  */

.rn-queue__content
  .rn-fill-in-blank,
.rn-queue__content
  .fill-in-the-blank {
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit;
  padding: 0.15em 0.4em;
}

/* FONT EXTRA CARD DETAIL */

.rn-queue__content
  .extra-card-detail,
.rn-queue__content
  .extra-card-detail
  .RichTextViewer,
.rn-queue__content
  .extra-card-detail
  .linear-editor-item,
.rn-queue__content
  .extra-card-detail
  .rn-editor__rem__body,
.rn-queue__content
  .extra-card-detail
  .rn-editor__rem__body__text {
  font-size: calc(var(--plugin-font-size, 1rem) * 0.9); 
  line-height: 1.0;
  font-family: var(--plugin-font-family); /* Variable font*/
}

/* DECK TITLE NON-TABLE AND TABLE CARDS */

/* Force left */
.rn-queue__content
  .rn-queue-rem[data-queue-rem-tags~="document"],
.rn-queue__content
  .rn-queue-rem[data-queue-rem-tags~="deck"] {
  display: inline-block !important;   
  align-self: flex-start !important;  /* override parent flex centering */
  text-align: left !important;
}

/* NON-TABLE CARDS FONT FIX */
.rn-queue__content
  .rn-queue-rem[data-queue-rem-tags~="document"]
  .RichTextViewer,
.rn-queue__content
  .rn-queue-rem[data-queue-rem-tags~="deck"]
  .RichTextViewer {
  font-family: var(--rn-font-ui, Inter, system-ui, sans-serif) !important;
  font-size: 1em !important;
  font-weight: 500 !important;
  text-align: left !important;
}

/* TABLE CARDS FONT FIX */
.rn-queue__content
  .rn-queue-rem[data-queue-rem-tags~="document"]
  .linear-editor-item,
.rn-queue__content
  .rn-queue-rem[data-queue-rem-tags~="deck"]
  .linear-editor-item {
  font-family: var(--rn-font-ui, Inter, system-ui, sans-serif) !important;
  font-size: 1em !important;
  font-weight: 500 !important;
  text-align: left !important;
}

/* TABLE - TEST INDIVIDUAL CARD DECK TITLE LEFT */

.rn-queue__content
  .rn-queue-rem
  > .RichTextViewer,
.rn-queue__content
  .rn-queue-rem
  > .RichTextViewer
  > .linear-editor-item {
  text-align: left !important;
  justify-content: flex-start !important;
}

/* TABLE - TEST INDIVIDUAL CELLS */

.rn-queue__content
  .rn-queue-rem.concept_rem_type
  > .RichTextViewer
  > .linear-editor-item {
  
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;

  font-family: var(--plugin-font-family) !important; /* Variable font */
  font-size:  var(--plugin-font-size) !important; /* Variable size*/
  font-weight: normal !important;

}


/* New wrapper fix macOS and web*/
.rn-queue__content
  .rn-queue-rem.concept_rem_type {
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  text-align: center !important;
  font-family: var(--plugin-font-family) !important; /* Variable font */
  font-size:  var(--plugin-font-size) !important; /* Variable size*/
}


/* Card clusters */

.rn-queue__content
  .spaced-repetition-answer:has(.cluster-answer-container)
  .linear-editor-item {
  display: inline-block !important;
  width: fit-content !important;
  max-width: 100%;
  text-align: center !important;
}

.rn-queue__content
  .spaced-repetition-answer:has(.cluster-answer-container)
  .flex.flex-col {
  width: fit-content !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.rn-queue__content
  .spaced-repetition-answer:has(.cluster-answer-container)
  .flex.items-center.justify-between {
  justify-content: center !important;
}

.rn-queue__content
  .spaced-repetition-answer:has(.cluster-answer-container)
  .flex.items-center {
  width: fit-content !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.rn-queue__content
  .spaced-repetition-answer:has(.cluster-answer-container)
  .pl-6 {
  padding-left: 0 !important;
  border-left: none !important;
}